@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --primary: #5ba0e0;
    --secondary: #542795;
    --white: #FFFFFF;
    --black: #000000;
}

body {
    font-family: 'Open Sans', sans-serif;
}
.bg {
    background-image: url("../assets/bg.svg");
    background-repeat: no-repeat;
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: -1;
}
.container {
    max-width: 70rem;
    margin: 0 auto;
}

/*----------------------- navbar --------------------------*/
.navbar {
    display: flex;
    justify-content: space-between;
    height: 20vh;
    align-items: center;
}
.navbar .logo img {
    width: 100px;
}
.navbar .list {
    list-style-type: none;
    display: flex;
    gap: 50px;
    color: #FFFFFF;
    font-weight: lighter;
    align-items: center;
}
.navbar .list .list-item:last-child button {
    background-color: var(--primary);
    border: none;
    color: var(--white);
    padding: 14px 30px;
    text-transform: uppercase;
    font-weight: lighter;
    border-radius: 4px;
}


/*------------------------- hero section -----------------------*/

.hero {
    display: flex;
    margin-top: 50px;
    gap: 40px;
}
.hero .hero-left h1 {
    color: var(--white);
    font-size: 3.4rem;
    line-height: 60px;
    margin-bottom: 30px;
}
.hero .hero-left p {
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
}
.hero .hero-left button {
    background-color: var(--primary);
    border: none;
    color: var(--white);
    padding: 14px 30px;
    text-transform: uppercase;
    font-weight: lighter;
    border-radius: 5px;
    font-size: 15px;
    font-weight: lighter;
    margin-top: 40px;
    cursor: pointer;
}
.hero .hero-right {
    margin-top: -80px;
}
.hero .hero-right img {
    width: 650px;
}




/*--------------------- feature section -----------------------*/
.features {
    display: flex;
    align-items: center;
    gap: 120px;
    margin-top: 70px;
}
.features .feature-left img {
    width: 500px;
}
.features .feature-right h4 {
    font-size: 1.5rem;
    margin-bottom: 40px;
}
.features .feature-right .list {
    display: flex;
    list-style-type: none;
    gap: 22px;
    flex-direction: column;
}
.features .feature-right .list .list-item p {
    font-size: 14px;
}
.features .feature-right .list .list-item h6 {
    font-size: 1.1rem;
    margin-bottom: 10px;
}


/*------------------------ customer section --------------------*/

.customer {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 100px;
    margin-top: 70px;
}
.customer h2 {
    margin-bottom: 40px;
}
.customer .customer-cards {
    display: flex;
    gap: 40px;
    justify-content: center;
}
.customer .customer-cards .icon {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(245,56,6, .2);
    margin: 40px auto 30px auto;
    border-radius: 500px;
}
.customer .customer-cards .icon.analytics {
    background-color: rgba(255, 193, 58, 0.2);
}
.customer .customer-cards .icon.profile {
    background-color: rgba(101, 255, 58, 0.2);
}
.customer .customer-cards .icon.profile img {
    width: 60px;
}
.customer .customer-cards .icon.support {
    background-color: rgba(235, 58, 255, 0.2);
}
.customer .customer-cards .icon.support img {
    width: 50px;
}
.customer .customer-cards .icon.code img {
    width: 50px;
    display: inline-block;
    text-align: center;

}
.customer .customer-cards .card {
    max-width: 13rem;
    box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, .1);
    border-radius: 20px;
    overflow: hidden;
    height: 260px;
}
.customer .customer-cards .card:first-child .info {
    background-color: var(--secondary);
    color: var(--white);
}
.customer .customer-cards .card .info {
    border-radius: 10px;
    height: 100%;
    padding: 4px 10px;
}
.customer .customer-cards .card .info h4 {
    font-size: 17px;
    font-weight: 500;
}
.customer .customer-cards .card .info p {
    font-size: 13px;
    margin-top: 4px;
}